venv/
__pycache__/
**/__pycache__/
*.py[cod]
spectra/*
!spectra/easy001
# JSME (GWT) debug mapping output
src/pages/jsme_component/frontend/jsme/compilation-mappings.txt
.venv/
.venv311/
./vscode
uv.lock
